.Body {
    
    
    width: 100%;
    min-height: 1060px;
    background: #F8CC5D 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    opacity: 1;
    float: left;
}

@media only screen and (max-width: 400px) {
    .Body {
        width: 100%;
        height: 100%;
    }
}