.Header {
    height: 80px;
}
.Header-logo {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30%;
    
    display: inline;

    
}

@media only screen and (max-width: 900px) {
    .Header-logo {
        left: 0%;
    }
}

.Chrome-extention {
    margin-left: 118px;
    display: inline;
    
    
    width: 172px;
    
    
    font: normal normal normal 20px/32px Noto Sans;
    letter-spacing: 0px;
    color: #4EB3E3;
    opacity: 1;
}

.Price-comp {
    display: inline;
    margin-left: 32px;
    
    left: 64%;
    width: 166px;
    height: 27px;
    
    font: normal normal normal 20px/32px Noto Sans;
    letter-spacing: 0px;
    color: #434A54;
    opacity: 1;
}

.Blog {
    margin-right: 415px;
    display: inline;
    
}

.wrap {
    float: right;
   
    
}