.Box {
    margin-top: 128px;
    margin-left: 7%;
    
    background: transparent;
    
    border-radius: 16px;
    opacity: 1;
    float: left;
}

.InviteFriends {
    min-width: 448px;
    min-height: 159px;
    margin-bottom: 7%;
}


.Head {
    
    text-align: left;
    font: normal normal bold 20px/32px "Noto Sans";
    letter-spacing: 1.6px;
    color: #4EB3E3;
    text-transform: uppercase;
    opacity: 1;
    
    margin-top: 0%;
    margin-bottom: 0%;
}
.InvFriends {
    font: normal normal normal 32px/48px Caveat Brush;
    letter-spacing: 0px;
    color: #1F343E;
    text-transform: uppercase;
    margin: 0%;
}


.StepOne {
    float: right;
    
    max-width: 256px;
    
}

.Inv {
  
}

.Second {
    text-align: left;
    font: normal normal normal 32px/48px "Caveat Brush";
    letter-spacing: 0px;
    color: #1F343E;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Refer {
    text-align: left;
    font: normal normal normal 20px/32px Noto Sans;
    letter-spacing: 0px;
    color: #1F343E;
    opacity: 1;
    margin: 0%;
}

.Collect {
    max-width: 448px;
    max-height: 191px;
    margin-bottom: 7%;
}

.Coin {
    
    float: right;
    margin-top: 5%;
}

.StepTwo {
    min-width: 256px;
    min-height: 191px;
}

.Voucher {
    
    margin-right: 10%;
    margin-top: 7%;
}

@media only screen and (max-width: 400px) {
    .Box {
        min-width: 343px;
        min-height: 1030px;
        margin: 49px 16px 0px;
    }
    .InviteFriends {
        float: left;
        min-width: 343px;
        min-height: 292px;
        text-align: center;
        font: normal normal normal 32px/40px Caveat Brush;
        letter-spacing: 0px;
        color: #1F343E;
        text-transform: uppercase;
        opacity: 1;
    }
    .Collect {
        float: left;
        min-width: 343px;
        min-height: 316px;  


    }
    .Coin {
        float: left;
        min-width: 144px;
        min-height: 144px;
        
        margin: 48px 100px 0px;
    }
    .StepTwo {
        min-width: 343px;
        min-height: 140px;
        float: left;
    }
    .InvFriends {
        text-align: center;
    }
    .InviteFriends {
        min-width: 343px;
        min-height: 279px;
        margin: 48px 0px 24px;
    }
    .Voucher {
        position: relative;
        width: 144px;
        height: 107px;
        margin: 0px;
        margin-bottom: 32px;
    }
    .StepOne {
        min-width: 343px;
        min-height: 116px;
        text-align: center;
        font: normal normal normal 32px/40px Caveat Brush;
        letter-spacing: 0px;
        color: #1F343E;
        text-transform: uppercase;
        opacity: 1;
        float: left;
    }
    .Refer {
        width: 343px;
        height: 22px;
        text-align: center;
        font: normal normal normal 16px/24px Noto Sans;
        letter-spacing: 0px;
        color: #1F343E;
        opacity: 1;    
    }
}