.StoreBar {
    width: 1920px;
    height: 144px;
    background: #45565E 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    opacity: 1;
    float: left;
    margin-top: 3%;
}

.Pic {
    width: 56px;
    height: 52px;
    margin-top: 4%;
    margin-right: 7%;
    margin-left: 7%;
    float: left;
}

.Chrome {
    margin-left: 20%;
    margin-top: 1%;
    width: 312px;
    height: 80px;
    background: #45565E 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    border-radius: 16px;
    opacity: 1;
    float: left;
}

.TextBox {
    width: 169px;
    height: 48px;
    float: left;
    margin-top: 2%;
}

.Line1 {
    margin-bottom: 0%;
    width: 140px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/16px "Noto Sans";
    letter-spacing: 0px;
    color: #F8F4F9;
    opacity: 1;
}

.Line2 {
    margin-top: 0%;
    width: 169px;
    height: 27px;
    text-align: left;
    font: normal normal bold 20px/16px "Gadugi";
    letter-spacing: 0px;
    color: #F8F4F9;
    opacity: 1;
}

.Apple {
    margin-left: 1%;
    margin-top: 1%;
    width: 312px;
    height: 80px;
    background: #45565E 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    border-radius: 16px;
    opacity: 1;
    float: left;
}

.Rate {
    width: 343px;
    height: 27px;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}

.Star {
    width: 21px;
    height: 20px;
    float: left;
    margin-right: 0.5%;
   
}

.StoreRe {
    margin: 0%;
    margin-left: 4%;
    float: left;
    width: 206px;
    height: 27px;
    text-align: left;
    font: normal normal normal 20px/24px "Noto Sans";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}